.default {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background-color: #000000;
  cursor: pointer;
}

.primary {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: royalblue;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
